################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/backend/.vs
/.vs/FileManager
/.vs
/backend/bin/Debug/net6.0
/backend/obj
